/* Grape Crush theme — semantic color tokens */
:root {
  /* color */
  --background-01-inverse: var(--neutral-gray-900);
  --background-01-main: var(--neutral-gray-100);
  --background-02-inverse: var(--primary-black);
  --background-02-main: var(--primary-white);
  --background-03-main: var(--neutral-gray-50);
  --background-04-main: var(--rock-candy-500);
  --background-05-inverse: var(--grape-crush-100);
  --background-05-main: var(--neutral-gray-800);
  --background-06-main: var(--rock-candy-50);
  --background-07-main: var(--neutral-gray-25);
  --background-08-main: var(--grape-crush-50);
  --background-09-main: var(--neutral-gray-200);
  --background-10-main: var(--grape-crush-25);
  --background-11-main: var(--hot-tamale-25);
  --background-overlay: var(--primary-black--30);
  --background-transparent: var(--transparent);
  --border-01-main: var(--primary-white);
  --border-02-inverse: var(--neutral-gray-700);
  --border-02-main: var(--neutral-gray-300);
  --border-03-main: var(--neutral-gray-400);
  --border-04-main: var(--neutral-gray-200);
  --border-05-main: var(--neutral-gray-500);
  --border-06-main: var(--grape-crush-500);
  --border-07-main: var(--hot-tamale-500);
  --button-background-01-disabled: var(--neutral-gray-200);
  --button-background-01-enabled-act: var(--grape-crush-700);
  --button-background-01-enabled-def: var(--grape-crush-500);
  --button-background-01-enabled-hov: var(--grape-crush-600);
  --button-background-02-disabled: var(--neutral-gray-50);
  --button-background-02-enabled-act: var(--neutral-gray-100);
  --button-background-02-enabled-def: var(--primary-white);
  --button-background-02-enabled-hov: var(--neutral-gray-50);
  --button-background-03-disabled: var(--transparent);
  --button-background-03-enabled-act: var(--grape-crush-50);
  --button-background-03-enabled-def: var(--transparent);
  --button-background-03-enabled-hov: var(--grape-crush-25);
  --button-background-04-disabled: var(--neutral-gray-600);
  --button-background-04-enabled-act: var(--grape-crush-700);
  --button-background-04-enabled-def: var(--grape-crush-500);
  --button-background-04-enabled-hov: var(--grape-crush-600);
  --button-background-05-disabled: var(--neutral-gray-800);
  --button-background-05-enabled-act: var(--rock-candy-700);
  --button-background-05-enabled-def: var(--rock-candy-900);
  --button-background-05-enabled-hov: var(--rock-candy-800);
  --button-background-06-disabled: var(--transparent);
  --button-background-06-enabled-act: var(--neutral-gray-900);
  --button-background-06-enabled-def: var(--transparent);
  --button-background-06-enabled-hov: var(--neutral-gray-800);
  --button-background-destructive-disabled-a: var(--neutral-gray-50);
  --button-background-destructive-disabled-b: var(--neutral-gray-200);
  --button-background-destructive-disabled-c: var(--transparent);
  --button-background-destructive-enabled-a: var(--hot-tamale-500);
  --button-background-destructive-enabled-b: var(--hot-tamale-600);
  --button-background-destructive-enabled-c: var(--hot-tamale-700);
  --button-background-destructive-enabled-d: var(--primary-white);
  --button-background-destructive-enabled-e: var(--hot-tamale-25);
  --button-background-destructive-enabled-f: var(--hot-tamale-50);
  --button-background-destructive-enabled-g: var(--hot-tamale-100);
  --button-background-destructive-enabled-h: var(--transparent);
  --button-border-02-disabled: var(--neutral-gray-300);
  --button-border-02-enabled: var(--neutral-gray-800);
  --button-border-05-disabled: var(--transparent);
  --button-border-05-enabled: var(--transparent);
  --button-border-destructive-disabled: var(--neutral-gray-300);
  --button-border-destructive-enabled: var(--hot-tamale-600);
  --button-elements-01-disabled: var(--neutral-gray-500);
  --button-elements-01-enabled: var(--primary-white);
  --button-elements-02-disabled: var(--neutral-gray-500);
  --button-elements-02-enabled: var(--neutral-gray-800);
  --button-elements-03-disabled: var(--neutral-gray-500);
  --button-elements-03-enabled: var(--grape-crush-500);
  --button-elements-04-disabled: var(--neutral-gray-900);
  --button-elements-04-enabled: var(--primary-white);
  --button-elements-05-disabled: var(--neutral-gray-600);
  --button-elements-05-enabled: var(--primary-white);
  --button-elements-06-disabled: var(--neutral-gray-600);
  --button-elements-06-enabled: var(--primary-white);
  --button-elements-destructive-disabled: var(--neutral-gray-500);
  --button-elements-destructive-enabled-a: var(--primary-white);
  --button-elements-destructive-enabled-b: var(--hot-tamale-500);
  --duotone-01-primary: var(--neutral-gray-700);
  --duotone-01-secondary: var(--neutral-gray-100);
  --duotone-02-primary: var(--hot-tamale-500);
  --duotone-02-secondary: var(--hot-tamale-50);
  --duotone-03-primary: var(--butter-scotch-600);
  --duotone-03-secondary: var(--butter-scotch-50);
  --duotone-04-primary: var(--sour-apple-600);
  --duotone-04-secondary: var(--sour-apple-50);
  --duotone-05-primary: var(--blue-taffy-500);
  --duotone-05-secondary: var(--blue-taffy-50);
  --duotone-06-primary: var(--rock-candy-600);
  --duotone-06-secondary: var(--rock-candy-50);
  --duotone-07-primary: var(--corp-teal-800);
  --duotone-07-secondary: var(--corp-teal-50);
  --duotone-08-primary: var(--rock-candy-400);
  --duotone-08-secondary: var(--rock-candy-50);
  --duotone-09-primary: var(--rock-candy-700);
  --duotone-09-secondary: var(--rock-candy-100);
  --duotone-10-primary: var(--hot-tamale-700);
  --duotone-10-secondary: var(--hot-tamale-100);
  --duotone-11-primary: var(--butter-scotch-700);
  --duotone-11-secondary: var(--butter-scotch-100);
  --duotone-12-primary: var(--sour-apple-700);
  --duotone-12-secondary: var(--sour-apple-100);
  --duotone-13-primary: var(--grape-crush-700);
  --duotone-13-secondary: var(--grape-crush-100);
  --duotone-14-primary: var(--neutral-gray-700);
  --duotone-14-secondary: var(--primary-white);
  --duotone-15-primary: var(--neutral-gray-700);
  --duotone-15-secondary: var(--neutral-gray-50);
  --duotone-theme-primary: var(--grape-crush-500);
  --duotone-theme-secondary: var(--grape-crush-50);
  --gradient-01-step-1: var(--grape-crush-400);
  --gradient-01-step-2: var(--grape-crush-600);
  --icon-default: var(--primary-black);
  --logo-primary: var(--grape-crush-500);
  --logo-secondary-inverse: var(--primary-white);
  --logo-secondary-main: var(--primary-black);
  --monotone-bg-01: var(--primary-white);
  --monotone-bg-02: var(--hot-tamale-300);
  --monotone-bg-03: var(--butter-scotch-300);
  --monotone-bg-04: var(--orange-slice-300);
  --monotone-bg-05: var(--sour-apple-300);
  --monotone-bg-06: var(--rock-candy-300);
  --monotone-bg-07: var(--neutral-gray-300);
  --monotone-bg-08: var(--corp-teal-500);
  --monotone-bg-09: var(--rock-candy-500);
  --monotone-bg-10: var(--grape-crush-500);
  --monotone-bg-11: var(--hot-tamale-500);
  --monotone-bg-12: var(--butter-scotch-400);
  --monotone-bg-13: var(--sour-apple-400);
  --monotone-bg-14: var(--neutral-gray-500);
  --monotone-bg-15: var(--blue-taffy-600);
  --monotone-bg-16: var(--orange-slice-600);
  --monotone-bg-17: var(--rock-candy-400);
  --monotone-bg-18: var(--hot-tamale-400);
  --monotone-bg-19: var(--grape-crush-200);
  --monotone-bg-20: var(--blue-taffy-300);
  --monotone-bg-21: var(--hot-tamale-100);
  --monotone-bg-22: var(--butter-scotch-100);
  --monotone-bg-23: var(--sour-apple-100);
  --monotone-bg-24: var(--grape-crush-100);
  --monotone-bg-25: var(--neutral-gray-200);
  --text-01-inverse: var(--primary-white);
  --text-01-main: var(--primary-black);
  --text-02-inverse: var(--neutral-gray-200);
  --text-02-main: var(--neutral-gray-700);
  --text-03-inverse: var(--neutral-gray-300);
  --text-03-main: var(--neutral-gray-500);
  --text-04-main: var(--neutral-gray-400);
  --text-05-main: var(--hot-tamale-500);
  --text-06-main: var(--butter-scotch-800);
  --text-hyperlink-01-inverse: var(--grape-crush-300);
  --text-hyperlink-01-main: var(--grape-crush-500);
  --text-hyperlink-02-inverse: var(--grape-crush-300);
  --text-hyperlink-02-main: var(--grape-crush-500);
  --transparent-black-10: var(--primary-black--10);
  --transparent-black-15: var(--primary-black--15);
  --transparent-black-20: var(--primary-black--20);
  --transparent-black-30: var(--primary-black--30);
  --transparent-black-5: var(--primary-black--5);
  /* number */
  --button-radius: var(---radius-full);
  --corner--cornerradius-default: var(---radius-none);
  --spacing--header-padding-h: var(---spacing-none);
  --spacing--header-padding-t: var(---spacing-none);
}
