/* Colors */
:root {
  /* Mode 1 */
  /* color */
  --blue-taffy-100: #cfe1e5;
  --blue-taffy-200: #99c2cc;
  --blue-taffy-25: #f5f9fa;
  --blue-taffy-300: #70acba;
  --blue-taffy-400: #4b95a6;
  --blue-taffy-50: #e7f1f3;
  --blue-taffy-500: #006b84;
  --blue-taffy-500-50: #006b8480;
  --blue-taffy-600: #005e73;
  --blue-taffy-700: #005366;
  --blue-taffy-800: #004352;
  --blue-taffy-900: #002e38;
  --butter-scotch-100: #feecc7;
  --butter-scotch-200: #fed789;
  --butter-scotch-25: #fffcf5;
  --butter-scotch-300: #fecb66;
  --butter-scotch-300-0: #fecb6600;
  --butter-scotch-400: #fdc24c;
  --butter-scotch-50: #fff8eb;
  --butter-scotch-500: #fdb521;
  --butter-scotch-600: #a16c02;
  --butter-scotch-700: #805501;
  --butter-scotch-800: #664401;
  --butter-scotch-900: #4d3301;
  --chrome-dust-100: #edf2f8;
  --chrome-dust-200: #d5dadf;
  --chrome-dust-25: #fafbfd;
  --chrome-dust-300: #bfc3c8;
  --chrome-dust-400: #a7abaf;
  --chrome-dust-50: #f6f8fb;
  --chrome-dust-500: #909397;
  --chrome-dust-600: #727579;
  --chrome-dust-700: #5c5f62;
  --chrome-dust-800: #46494b;
  --chrome-dust-900: #2f3234;
  --corp-teal-100: #bffffb;
  --corp-teal-200: #79f2ea;
  --corp-teal-25: #f2fffe;
  --corp-teal-300: #57d9ce;
  --corp-teal-400: #29ccc1;
  --corp-teal-50: #e5fffd;
  --corp-teal-500: #00bfb3;
  --corp-teal-500-50: #00bfb380;
  --corp-teal-600: #1a847d;
  --corp-teal-700: #2e837d;
  --corp-teal-800: #00665f;
  --corp-teal-900: #00403c;
  --grape-crush-100: #e2dff6;
  --grape-crush-200: #d4cff2;
  --grape-crush-25: #f6f5ff;
  --grape-crush-300: #b7afe9;
  --grape-crush-400: #9387de;
  --grape-crush-50: #edebf9;
  --grape-crush-500: #6d5fcf;
  --grape-crush-500-50: #6d5fcf80;
  --grape-crush-600: #5f53b5;
  --grape-crush-700: #52479c;
  --grape-crush-800: #443c82;
  --grape-crush-900: #373069;
  --hot-tamale-100: #fee4e2;
  --hot-tamale-200: #ffc9cb;
  --hot-tamale-25: #fffbfa;
  --hot-tamale-300: #fc9a9d;
  --hot-tamale-300-0: #fc9a9d00;
  --hot-tamale-400: #f9666b;
  --hot-tamale-50: #fef3f2;
  --hot-tamale-500: #d0464b;
  --hot-tamale-600: #b83e42;
  --hot-tamale-700: #9e3539;
  --hot-tamale-800: #852d30;
  --hot-tamale-900: #561d1f;
  --neptune-dream-100: #c8dded;
  --neptune-dream-200: #91bbd9;
  --neptune-dream-25: #ebf4fa;
  --neptune-dream-300: #5a9ac6;
  --neptune-dream-400: #2378b2;
  --neptune-dream-50: #d7e8f4;
  --neptune-dream-500: #005eb8;
  --neptune-dream-600: #004c99;
  --neptune-dream-700: #003a7a;
  --neptune-dream-800: #002f64;
  --neptune-dream-900: #00274d;
  --neutral-gray-100: #f2f2f2;
  --neutral-gray-200: #e7e9ea;
  --neutral-gray-25: #fcfcfd;
  --neutral-gray-25-0: #fcfcfd00;
  --neutral-gray-300: #d3d6d9;
  --neutral-gray-400: #b6bcc1;
  --neutral-gray-50: #f6f7f8;
  --neutral-gray-500: #667785;
  --neutral-gray-600: #586774;
  --neutral-gray-700: #39434b;
  --neutral-gray-800: #102b42;
  --neutral-gray-900: #081521;
  --orange-slice-100: #fcdfcf;
  --orange-slice-200: #fbceb6;
  --orange-slice-25: #fef9f5;
  --orange-slice-300: #f9ae86;
  --orange-slice-400: #f79764;
  --orange-slice-50: #feefe7;
  --orange-slice-500: #f47734;
  --orange-slice-600: #e9590c;
  --orange-slice-700: #b8470a;
  --orange-slice-800: #883407;
  --orange-slice-900: #3a1603;
  --primary-black: #0c2032;
  --primary-black--10: #0c20321a;
  --primary-black--15: #0c203226;
  --primary-black--20: #0c203233;
  --primary-black--30: #0c20324d;
  --primary-black--5: #0c20320d;
  --primary-white: #ffffff;
  --primary-white--75: #ffffffbf;
  --rock-candy-100: #e0f2ff;
  --rock-candy-200: #c7e7fe;
  --rock-candy-25: #f5fbff;
  --rock-candy-300: #a4d8fd;
  --rock-candy-300-0: #a4d8fd00;
  --rock-candy-400: #79b0e0;
  --rock-candy-50: #eef8ff;
  --rock-candy-500: #287cb8;
  --rock-candy-600: #256dac;
  --rock-candy-700: #1c5680;
  --rock-candy-800: #164566;
  --rock-candy-900: #11344d;
  --rock-candy-900-0: #11344d00;
  --sour-apple-100: #d1fae9;
  --sour-apple-200: #a6f4d3;
  --sour-apple-25: #fafffd;
  --sour-apple-300: #6ce9b5;
  --sour-apple-300-0: #6ce9b500;
  --sour-apple-400: #3dae7f;
  --sour-apple-50: #ecfdf6;
  --sour-apple-500: #2e8561;
  --sour-apple-600: #1f7a54;
  --sour-apple-700: #0f6642;
  --sour-apple-800: #1b4d38;
  --sour-apple-900: #143a2a;
  --transparent: #ffffff00;
}

/* Scale */
:root {
  /* Mode 1 */
  /* number */
  --scale-0: 0px;
  --scale-1: 1px;
  --scale-2: 2px;
  --scale-3: 3px;
  --scale-4: 4px;
  --scale-6: 6px;
  --scale-8: 8px;
  --scale-12: 12px;
  --scale-16: 16px;
  --scale-20: 20px;
  --scale-24: 24px;
  --scale-28: 28px;
  --scale-32: 32px;
  --scale-36: 36px;
  --scale-40: 40px;
  --scale-48: 48px;
  --scale-56: 56px;
  --scale-64: 64px;
  --scale-80: 80px;
  --scale-96: 96px;
  --scale-128: 128px;
  --scale-160: 160px;
  --scale-256: 256px;
  --scale-400: 400px;
  --scale-full: 1000px;
}
/* Position */
:root {
  /* Mode 1 */
  /* number */
  --position-neg12: -12px;
  --position-neg4: -4px;
  --position-neg2: -2px;
  --position-neg1: -1px;
  --position-zero: 0px;
  --position-pos1: 1px;
  --position-pos2: 2px;
  --position-pos4: 4px;
  --position-pos8: 8px;
  --position-pos12: 12px;
  --position-pos20: 20px;
  --position-pos24: 24px;
  --position-pos32: 32px;
}
/* Typography */
:root {
  /* Mode 1 */
  /* number */
  --typography-12: 12px;
  --typography-14: 14px;
  --typography-16: 16px;
  --typography-18: 18px;
  --typography-20: 20px;
  --typography-24: 24px;
  --typography-26: 26px;
  --typography-28: 28px;
  --typography-32: 32px;
  --typography-36: 36px;
  --typography-40: 40px;
  --typography-48: 48px;
  --typography-64: 64px;
  --typography-80: 80px;
  --typography-400: 400;
  --typography-500: 500;
  --typography-600: 600;
  --typography-700: 700;
  --typography-800: 800;
}
